.error {
    color: red;
    background-color: darkgrey;
    font-size: 20px;
    border: solid;
    border-color: red;
    border-radius: 5px;
    padding: 10px;
}

.notif {
    color: green;
    background-color: lightgrey;
    font-size: 20px;
    border: solid;
    border-color: green;
    border-radius: 5px;
    padding: 10px;
}