.error {
    color: red;
    background-color: darkgrey;
    font-size: 20px;
    border: solid;
    border-color: red;
    border-radius: 5px;
    padding: 10px;
}

.notif {
    color: green;
    background-color: lightgrey;
    font-size: 20px;
    border: solid;
    border-color: green;
    border-radius: 5px;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    border: 5px solid lightgrey;
}

li {
    padding: 5px;
    border-bottom: 5px solid lightgrey;
}

li:last-child {
    border-bottom: none;
}

button {
    margin-left: 2px;
}

p {
    margin: 2px;
}